@{ ViewData["Title"] = "Home Page"; }

<div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img src="https://www.newzealand.com/assets/Tourism-NZ/Hawkes-Bay/bc6cffeba4/img-1536864505-9908-7483-FE1EAB20-B651-BA49-C92865FF6B770007__aWxvdmVrZWxseQo_FocalPointCropWzQyMCw5NjAsNTEsNjEsNzUsImpwZyIsNjUsMi41XQ.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="" />

        <img src="https://content.r9cdn.net/himg/7a/3c/ae/revato-1286024-11840168-455525.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="https://imgcy.trivago.com/c_limit,d_dummy.jpeg,f_auto,h_1300,q_auto,w_2000/itemimages/12/09/120991_v7.jpeg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="" />

        <img src="https://media-cdn.tripadvisor.com/media/photo-s/1b/1b/b1/86/exterior-view.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="" />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F28%2F2020%2F05%2F29%2Fbest-australia-nz-hotel-como-the-treasury-00-AUSTNZCITYHOTELSWB20.jpg&q=85"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="" />

        <img src="https://www.traveller.com.au/content/dam/images/g/o/e/c/4/g/image.related.articleLeadwide.520x294.gs5gmy.png/1476939106662.jpg"
             class="w-100 shadow-1-strong rounded mb-4"
             alt="" />
    </div>
</div>
<!-- Gallery -->